body {

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2056ac;
    color: #ffffff;
}

img {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4{
    text-align: center;
    font-family: 'Questrial'
    font-weight: bold;
}

p {
    text-align: center;
    font-family: 'Questrial'
}

nav {

}

ul {
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #64aad0;
    color: white;
    border-radius: 0;
    width: 150px;
    height: 50px;
}

#contact {
    background-color: #e3f0f7;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2056ac;

}

#socialnav {
    display: flex;
    padding-left: 4px;
}

#socialnav li {
    display: flex;
    justify-content: center;
}

#socialnav a {
    background-color: #64abd1;
    color: white;
    padding: 10px;
    margin: 0.2em;
}
