/*Mobile version*/

h1, h2, h3, h4{
    text-align: center;
    font-family: 'Questrial';
    font-weight: bold;
}

p {
    text-align: center;
    font-family: 'Questrial'
}

ul {
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2056ac;
    color: #ffffff;
    height: 320px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.9em;
}

#menu li {
    margin: 0.6em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    width: 100%;
    height: auto;
}

main section {
    padding-top: 1em;
    margin-top: 1em;
}

main section:nth-child(2){
    padding-bottom: 1em;
    margin-bottom: 1em;
}
 main section:nth-child(3) {
     padding-top: 0.3em;
 }
main section:nth-child(1), main section:nth-child(2) {
    border-bottom: 1px solid #cfcfcf;
}


main article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #64aad0;
    color: white;
    border-radius: 0;
    width: 150px;
    height: 50px;
}

#contact {
    background-color: #e3f0f7;
    width: 100%;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2056ac;

}

#socialnav {
    display: flex;
    padding-left: 4px;
}

#socialnav li {
    display: flex;
    justify-content: center;
}

#socialnav a {
    background-color: #64abd1;
    color: white;
    padding: 10px;
    margin: 0.2em;
}

/*Tablet version*/

@media (min-width: 900px) {
    header {
        height: 250px;
    }

    header i {
        padding-top: 0.7em;
    }

    #menu {
        flex-direction: row;
    }
    main section {
        display: flex;
        justify-content: space-around;
    }

    section article {
        width: 30%;
    }

    .infos {
        flex-direction: row;
        align-items: stretch;
    }
